@model IEnumerable<Secretariat.Infra.Domain.Models.AgendaEntity>

@{
    ViewData["Title"] = "HomeController";
}

<h1>HomeController</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotdePass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotdePass)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAgenda">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAgenda">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAgenda">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
